html {
  box-sizing: border-box;
  font-size: 62.5%;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #4b8e8e;
  font-size: 1.6rem;
  font-family: Mulish, sans-serif;
}

header {
  display: flex;
  font-size: 2.4rem; /*1.5rem;*/
  height: 6rem; /*3.75rem*/
  align-items: center;
}

header .logo {
  height: 2.4rem; /* 1.5rem;*/
  margin-left: 2.4rem; /*1.5rem*/
}

@media (max-width: 425px) {
  header .logo {
    margin: 0 auto;
  }
}

.welcome {
  align-items: center;
  background: linear-gradient(black, black), url(images/background-1.jpg) no-repeat center center;
  background-blend-mode: saturation;
  background-size: cover;
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 52.5rem; /*32.8125rem;*/
  justify-content: center;
  padding: 0 32rem;/* 20rem;*/
}

@media (max-width: 425px) {
  .welcome {
    padding: 0;
    width: 100%;
  }
}

.welcome h2 {
  font-size: 4.2rem; /*2.625rem;*/
  text-align: center;
}

@media (max-width: 425px) {
  .welcome h2 {
    font-size: 3.2rem; /*2rem;*/
    line-height: 3.6rem; /*2.25rem;*/
    padding: 1.6rem; /* 1rem;*/
  }
}

.introduction {
  background: #4b8e8e;
  height: 34.25rem; /*21.40625rem;*/
  text-align: center;
}

@media (max-width: 425px) {
  .introduction {
    height: auto;
  }
}

.introduction h4 {
  font-size: 3rem; /*1.875rem;*/
  font-weight: bolder;
  margin: 0;
}

.introduction p {
  font-size: 1.75rem; /*1.09375rem;*/
}

.bubble {
  background: #4b8e8e;
  color: white;
  display: inline-block;
  height: 34.25rem; /*21.40625rem;*/
  margin: 0 9.6rem; /*6rem;*/
  padding: 6rem 2.25rem; /*3.75rem 1.40625rem;*/
  vertical-align: top;
  text-align: left;
  width: 34rem; /*21.25rem;*/
}

@media (max-width: 425px) {
  .bubble {
    height: auto;
    margin: 0;
    padding: 6.4rem 4rem ;/*4rem 2.5rem;*/
    text-align: center;
  }
}

.call-to-action {
  background: #04102F;
  color: white;
  height: 34.25rem; /*21.40625rem;*/
  padding: 6rem; /*3.75rem;*/
  position: relative;
}

@media (max-width: 425px) {
  .call-to-action {
    height: auto;
    padding: 3.2rem; /*2rem;*/
    text-align: center;
  }
}

.call-to-action .description {
  font-size: 2.24rem; /*1.40rem;*/
  line-height: 2.88rem; /*1.80rem;*/
  margin-bottom: 1.8rem; /*1.125rem;*/
  width: 50rem; /*31.25rem;*/
}

@media (max-width: 425px) {
  .call-to-action .description {
    width: auto;
  }
}

.call-to-action .commitment {
  opacity: .5;
}

@media (max-width: 425px) {
  .call-to-action .commitment {
    text-align: left;
  }
}

.want-to-help {
  background: #4b8e8e;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  padding: 1.25rem 4.75rem; /*0.78125rem 2.96875rem;*/
  text-align: center;
  text-decoration: none;
}

.want-to-help:hover {
  text-decoration: underline;
}

.call-to-action .want-to-help {
  position: absolute;
  right: 20rem; /*12.5rem;*/
  top: 14.72rem; /*9.2rem;*/
}

@media (max-width: 425px) {
  .call-to-action .want-to-help {
    display: block;
    margin: 4.8rem auto 0; /*3rem auto 0;*/
    position: relative;
    right: auto;
    top: auto;
    width: 27.2rem; /*17rem;*/
  }
}

footer {
  background: #272828;
  color: white;
  display: flex;
  height: 26.4rem; /*16.5rem;*/
  justify-content: space-between;
  padding: 8rem 20.8rem 0 6.08rem; /*5rem 13rem 0 3.8rem;*/
}

@media (max-width: 425px) {
  footer {
    display: block;
    height: auto;
    padding: 4rem 0 4rem 2.4rem; /*2.5rem 0 2.5rem 1.5rem;*/
  }
}

footer p {
  margin: 0;
}

footer .signature {
  margin-top: 0.8rem; /* .5rem;*/
  opacity: .6;
}

@media (max-width: 425px) {
  footer .social {
    margin-top: 3.2rem; /*2rem;*/
  }
}

footer .email {
  margin-top: 0.8rem; /*.5rem;*/
  opacity: .6;
  text-decoration: underline;
}

footer .networks {
  margin-top: 3.2rem; /*2rem;*/
}

footer .networks a {
  color: white;
  margin-right: 1.6rem; /*1rem;*/
  text-decoration: none;
}
